/* @import url("https://www.unileverbrandcentre.com/readimage.aspx/asset.ai?pubid=pcCOlOE4mQEUEHDTOxxa5w");

@font-face {
    font-family: 'UnileverShillingMedium';
    src: font-url('https://www.unileverbrandcentre.com/readimage.aspx/asset.ai?pubid=pcCOlOE4mQEUEHDTOxxa5w') format('woff');
    font-weight: bold;
    font-style: bold;
  } */

  @import url("https://fonts.googleapis.com/css?family=Lato");
  body {
    font-family: "Lato", sans-serif;
  }